name: Workflow de Integração Contínua

on:
  pull_request:
    branches: [ "main" ]

jobs:
  testes:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    
    - name: Use Node.js
      uses: actions/setup-node@v6
      with:
        node-version: 22
    - name: Install frontend dependencies
      run: npm install
      working-directory: ./frontend

    - name: Run frontend tests
      run: npm test
      working-directory: ./frontend